<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/create.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center">Thêm địa điểm chuỗi hệ thống siêu thị VinMart</h1>

        <div class="create-info">
            <form action="/create-vinmart" method="POST">
                <div class="form-group">
                    <label>Toạ độ cửa hàng</label>
                    <input type="text" class="form-control col-12" placeholder="Nhập toạ độ" name="toaDo"
                        value="<%= data.toaDo%>" />
                </div>

                <div class="form-group">
                    <label>Tên cửa hàng</label>
                    <input type="text" class="form-control col-12" placeholder="Nhập tên cửa hảng" name="name"
                        value="<%= data.name%>" />
                </div>

                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input type="text" class="form-control col-12" placeholder="Nhập địa chỉ" name="address"
                        value="<%= data.address%>" />
                </div>

                <div class="form-group">
                    <label>Giờ mở cửa</label>
                    <input type="text" class="form-control col-12" placeholder="Giờ mở cửa" name="open"
                        value="<%= data.open%>" />
                </div>

                <div class="form-group">
                    <label>Giờ đóng cửa</label>
                    <input type="text" class="form-control col-12" placeholder="Giờ đóng cửa" name="close"
                        value="<%= data.close%>" />
                </div>
                <% if(data && data.message) {%>
                    <div class="alert alert-danger" role="alert">
                        <%= data.message %>

                    </div>
                    <%}%>

                        <div>
                            <a href="/" type="button" class="btn btn-danger">Quay lại</a>
                            <button type="submit" class="btn btn-info float-right">Thêm cửa hàng</button>
                        </div>

            </form>
        </div>

    </div>
</body>

<script src="/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>